* {
  user-select: none;
  font-family: $base-ff, sans-serif;
  font-size: $base-fsz;
  font-weight: $base-fw;
  color: $base-c;
}

body {
    background: #fff;

}
.noscroll {
  overflow: hidden;
}

.container {
    max-width:  $base-w-container;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}
